.chat {
    display: flex;
}

/* Channel List */
.create-channel {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.create-channel input {
    height: 40px;
    padding: 10px;
    border: none;
    color: white;
    background-color: #646464;
    border-radius: 5px;
}

.create-channel input:focus {
    outline: none;
}

.create-channel button {
    border-radius: 5px;
    border: none;
    height: 40px;
    background-color: #5865f2;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.create-channel button:hover {
    background-color: #4553ee;
}

.channel-bar {
    flex: 0 0 250px;
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
}

.channel-close-button {
    display: none;
}

@media screen and (max-width: 1000px) {
    .chat {
        position: relative;
    }

    .channel-bar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);
        transition: transform 0.4s ease-out;
        padding-top: 50px;
    }

    .channel-bar[data-visible="true"] {
        transform: translateX(0%);
    }

    .channel-close-button {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 10;
        background-color: #646464;
        padding: 10px;
        border-radius: 5px;
        color: rgb(200, 200, 200);
        border: 1px solid rgb(50, 50, 50);
        cursor: pointer;
        font-weight: bold;
    }

    .channel-close-button:hover {
        background-color: grey;
    }
}

.channel-bar .channel-list {
    flex: 1;
    overflow-y: hidden;
}

.channel-bar .channel-list:hover {
    overflow-y: auto;
}

.channel-bar .channel-list .channel a {
    text-decoration: none;
    display: block;
    padding: 20px;
    margin: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(200, 200, 200);
    cursor: pointer;
}

.channel-bar .channel-list .channel a:hover {
    background-color: grey;
}

.channel-bar .channel-list .channel a.active {
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

.channel-bar .user-bar {
    padding: 10px;
    background-color: rgb(25, 25, 25);
    color: white;
}

.channel-bar .user-bar-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.channel-bar .user-bar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user-bar .user-bar-name {
    font-size: 1.5rem;
}

.user-bar .user-bar-email {
    font-size: 0.75rem;
}

.channel-bar .user-bar > button {
    color: white;
    background: none;
    border: 1px solid white;
    padding: 5px;
    cursor: pointer;
    width: 100%;
}

.channel-bar .user-bar > button:hover {
    background-color: grey;
}

/* Main Chat */
.main-chat {
    flex: 1;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 75, 75);
    color: white;
    padding: 10px;
}

.main-chat.welcome-page {
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.main-chat.welcome-page > * {
    text-align: center;
}

.main-chat.welcome-page div:first-child {
    font-size: 4rem;
    font-weight: bold;
}

.main-chat.welcome-page div:nth-child(2),
.main-chat.welcome-page div:nth-child(3) {
    font-size: 1.5rem;
    color: rgb(200, 200, 200);
}

.main-chat .chat-messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.main-chat .chat-messages::-webkit-scrollbar-track {
    background-color: rgb(75, 75, 75);
}

.main-chat .messages {
    padding: 25px 0;
    margin: 0 15px;
    display: flex;
    gap: 20px;
}

.main-chat .messages > div {
    margin-top: 10px;
}

.main-chat .messages .message-date-separate {
    display: flex;
    align-items: center;
    gap: 25px;
}

@media screen and (max-width: 500px) {
    .main-chat {
        min-width: 300px;
    }

    .main-chat .messages .message-date-separate {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
}

.main-chat .messages img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.main-chat .messages .message-username {
    font-weight: 500;
    font-size: 1.5rem;
}

.main-chat .messages .message-date {
    color: rgb(200, 200, 200);
}

.main-chat .messages .message-message {
    margin-top: 10px;
    color: rgb(225, 225, 225);
}

.main-chat .chat-input {
    display: flex;
    background-color: rgb(100, 100, 100);
    margin: 15px;
    padding: 0 25px;
    border-radius: 10px;
    align-items: center;
}

.main-chat .chat-input > input {
    flex: 1;
    background: none;
    border: none;
    height: 75px;
    color: white;
}

.main-chat .chat-input > input:focus {
    outline: none;
}

.main-chat .chat-input button {
    height: 40px;
    width: 75px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: grey;
}

.main-chat .chat-input button:hover {
    background-color: rgb(200, 200, 200);
}

/* Contact List */
.contact-list {
    flex: 0 0 250px;
    background-color: rgb(50, 50, 50);
    overflow-y: hidden;
}

@media screen and (max-width: 1000px) {
    .contact-list {
        display: none;
    }
}

.contact-list:hover {
    overflow-y: auto;
}

.contact-list .contact {
    padding: 20px 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    margin: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.contact-list .contact:hover {
    background-color: grey;
}

.contact-list .contact img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
