* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(50, 50, 50);
}

.main > div {
    flex: 1;
    overflow-y: hidden;
}

header,
footer {
    text-align: center;
    background-color: black;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(50, 50, 50);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
