* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main > div {
    flex: 1;
    overflow-y: hidden;
}

header,
footer {
    text-align: center;
    background-color: black;
    color: white;
}

header {
    font-weight: 700;
    font-family: cursive;
    font-size: 1.5rem;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(50, 50, 50);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Alert */
.alert-modal {
    position: fixed;
    top: 90%;
    left: 50%;
    background-color: rgb(255, 150, 150);
    border: 5px solid rgb(150, 0, 0);
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.alert-modal:empty {
    padding: 0;
    opacity: 0;
}
